* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: rgb(31, 30, 30);
    font-family: "Oxanium";
    font-size: 16px;
}

.wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.date {
    text-align: center;
    font-size: 300%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
}

.date p {
    display: inline-block;
    line-height: 1 em;
    color: white;
}

.clock {
    text-align: center;
    font-size: 500%;
    margin: auto;
    margin-bottom: 5%;
    padding: 20px;
    width: 70%;
    background: rgb(17, 17, 17);
    border-radius: 10px;
}

.clock p {
    display: inline-block;
    line-height: 1 em;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border-radius: 10px;
    color: white;
    padding: 10px;
    /*text-decoration: line-through;*/
}

.clock .split {
    background: none;
}

.clock .sec{
    display: inline-block;
    line-height: 1 em;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border-radius: 10px;
    color: white;
    padding: 10px;
    /*text-decoration: line-through;*/
    position: relative;
}

.clock .sec .seconds2 {
    overflow: hidden;
	z-index: 1000;
    position: absolute;
    top: -62px;
    height: 0px;
}

.clock .sec .seconds {
    overflow: hidden;
    z-index: 1000;
    position: absolute;
    top: -62px;
}
